# eclipse stuff:
#.project
.metadata
#.classpath
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.idea

# macOS stuff
.DS_Store
._*

# Windows stuff
Thumbs.db
[Dd]esktop.ini


# maven stuff
target/

dependency-reduced-pom.xml
*.swp



# eclispe stuff:
.settings


typhonql/src/nl/cwi/swat/typhonql/backend/rascal/AggregateIt.java
