<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
        point="rascal_eclipse.rascalLibrary">
   </extension>
   <extension
         id="typhonql_nature"
         name="typhonql_nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="lang.typhonql.ide.Nature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="typhonql_nature"
            name="Typhon QL">
      </category>
      <wizard
            category="typhonql_nature"
            class="lang.typhonql.ide.NewProjectWizard"
            icon="icons/typhon_icon.png"
            id="lang.typhonql.ide.NewProjectWizard"
            name="Typhon QL project"
            project="true">
      </wizard>
   </extension>
</plugin>
